@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
  }
  /* nav section*/
  .banner-pic{
    background-image: url(banner.jpg);
    background-size: cover;
    z-index: 2;
    position: relative;
    height: 100vh;
    text-align: center;
    background-position: top center;
  }
  .banner-pic::after {
      content: '';
      position: relative;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;  
      opacity: 0.3;
      z-index: -1;
    }

.nav{
    background-color: none;
    margin:0; 
    position:relative;
    height:13%;
    display: flex;
    z-index: 999;
    top: 0;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: auto;
    z-index: 1;
    width:100%;
    height: 80px;
    margin: 5px auto;
    padding: 0 50px;
    position:relative;  
   

  }
.nav-logo{
    width:5%;
    position: absolute;
    top: 8%;
    left: 5%;
}
.nav-container {
  display: flex;
  align-items: center;
  list-style: none; 
  position: relative;
  align-items: center;
  background-color: blue;
  top: 2vh;
  right: 0;
}
.nav-tab {
  width: 100px;
  text-decoration: none;
  left:0;
  display: flex;
  align-items: center;;
  color: #faebd7;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1.8vw;
  margin: 10px 30px;

  
}
.nav-tab:hover{
  color:#1e1f26;
  transition: all 0.3s ease;
  
}
/*banner section*/

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: blue;
	background-color: #faebd7;	
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #ff0266;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}
.banner h1{
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #1e1f26;
  transition: all 0.3s ease;
  z-index: 3;
  left: 10px;
}

/*about section*/
.slider{
  display: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  position: relative;
  background-color: #1e1f26;
  text-align: center;
  flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin:  auto ;
	padding: 50px 0 ;

}
.slider h1{
  font-family: "Josefin Sans", sans-serif;
  font-size: 4vw;
  margin: 0;
  top: 25%;
  padding-bottom: 0.1rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;
  font-style: normal;
}
.slider h2{
  font-size:1.5vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
  margin-right: 2vh;
}
/*service section*/
.slider1 {
  display: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  background-color: #fff;
  text-align: center;
  flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin:  auto ;
	padding: 50px 0 ;
}
.main .service-bottom {
	display: flex;
	align-items:baseline;
	justify-content:center;
	flex-wrap: wrap;
	margin-top: 5vh;
}
.main .service-item {
	flex-basis: 50%;
	display: flex;
	align-items: flex-start;
	justify-content:baseline;
	flex-direction: column;
	padding: 5px;
	border-radius: 5px;
	background-size: cover;
	margin: 15px 1%;
	position: relative;
	z-index: 1;
	overflow: hidden;
  background-color:  #0320da71;
 }
.main .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	
	opacity: 0.9;
	z-index: -1;
}

.main .service-item h2 {
	font-size: 1.5rem;
	color: blue;
	margin-bottom: 5px;
	text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.main .service-item p {
	color: #1e1f26;
	text-align: left;
}

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin:auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

.slider1 h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4vw;
  margin: 0;
  top: 25%;
  padding-bottom: 0.1rem;
  letter-spacing: 0.5rem;
  color: #1e1f26;
  transition: all 0.3s ease;
  z-index: 3;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}

.slider1 h2 {
  font-size:3vw;
  letter-spacing: 0.3rem;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #1e1f26;
  z-index: 4;
  margin-right: 2vh;
}

h3.span {
  font-size: 4vw;
  letter-spacing: 0.1em;
  font-weight: 10vh;
  font-family: "ROBOTO", sans-serif;
  font-weight: 300;
  color: #faebd7;
  z-index: 4;
}
span:hover {
  color: #ff0266;
  font-weight: 500;
  font-size: 2.2vw;
}

a {
  text-decoration: none;
}

.nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #03dac6;
  transition: left 0.3s ease;
}
.background {
  position: absolute;
  height: 90vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: auto;
}
canvas{
    display:block;
    vertical-align:bottom;
  }
.count-particles{
    position: absolute;
    top: 48px;
    align-items: center;
    width: 100px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 1px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }

  
  
  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
    height: 50%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
@media (max-width: 770px){
    .banner h1, .slider1 h1
    .slider h1{
        font-size: 5vw;
    }

    .banner h2, .slider h2
    .slider h2{
        font-size: 3vw;
    }
   
   
.nav-tab{
  width:100%;
  text-align: center;
  padding: 1rem;
  display: table;

}

    }
    
    .background {
      position: absolute;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }
    .loader span {
      color: #faebd7;
      text-shadow: 0 0 0 #faebd7;
      -webkit-animation: loading 1s ease-in-out infinite alternate;
    }
    
    @-webkit-keyframes loading {
      to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266;
      }
    }
    .loader span:nth-child(2) {
      -webkit-animation-delay: 0.1s;
    }
    .loader span:nth-child(3) {
      -webkit-animation-delay: 0.2s;
    }
    .loader span:nth-child(4) {
      -webkit-animation-delay: 0.3s;
    }
    .loader span:nth-child(5) {
      -webkit-animation-delay: 0.4s;
    }
    .loader span:nth-child(6) {
      -webkit-animation-delay: 0.5s;
    }
    .loader span:nth-child(7) {
      -webkit-animation-delay: 0.6s;
    }
    .loader span:nth-child(8) {
      -webkit-animation-delay: 0.7s;
    }
    .loader span:nth-child(9) {
      -webkit-animation-delay: 0.8s;
    }
    
    .loader span:nth-child(10) {
      -webkit-animation-delay: 0.9s;
    }
    .loader span:nth-child(11) {
      -webkit-animation-delay: 1s;
    }
    .loader span:nth-child(12) {
      -webkit-animation-delay: 1.1s;
    }
    .loader span:nth-child(13) {
      -webkit-animation-delay: 1.2s;
    }
    .loader span:nth-child(14) {
      -webkit-animation-delay: 1.3s;
    }
    .loader span:nth-child(15) {
      -webkit-animation-delay: 1.4s;
    }
    .loader span:nth-child(16) {
      -webkit-animation-delay: 1.5s;
    }
    .loader span:nth-child(17) {
      -webkit-animation-delay: 1.6s;
    }
    .loader span:nth-child(18) {
      -webkit-animation-delay: 1.7s;
    }
    .loader span:nth-child(19) {
      -webkit-animation-delay: 1.8s;
    }
    .loader span:nth-child(20) {
      -webkit-animation-delay: 1.9s;
    }
    .loader span:nth-child(21) {
      -webkit-animation-delay: 2s;
    }
    .loader span:nth-child(22) {
      -webkit-animation-delay: 2.1s;
    }
@media only screen and ( min-width: 768px)
    {
      .main .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1%;
      }
    }
   /* Footer */
#footer{
	background-color: #ff0266;
}
#footer .footer {
	min-height: 30px;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
@media only screen and (min-width: 768px) {
  /* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 350px;
		margin: 0;
		width: 80%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */
}
